<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Staff Dashboard</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Staff Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'books:return_book' %}">Go to Return Page</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'books:check_reservations' %}">Check User Reservations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'books:check_borrowing' %}">Check Borrowed Books</a>

            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'url-patterns' %}">API</a>

            </li>
            <li class="nav-item">
                <form class="form-inline my-2 my-lg-0" method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</button>
                </form>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <h1 class="mt-5">Welcome {{ user.username }}</h1>

    <h2 class="mt-4">Here You Can Mark Book as Borrowed</h2>
    {% if error_message %}
        <div class="alert alert-danger">
            {{ error_message }}
        </div>
    {% endif %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <form method="post" action="{% url 'books:staff' %}" class="mb-5">
        {% csrf_token %}
        {{ borrow_form.as_p }}
        <button type="submit" class="btn btn-primary">Mark as Borrowed</button>
    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script>
    $(document).ready(function () {
        $('.searchable').select2({
            width: '100%'
        });
    });
</script>
</body>
</html>
